@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e23;
    --foreground: #e5e5e5;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Roboto,
    'Noto Sans CJK KR', Arial, '맑은 고딕', 'Malgun Gothic', sans-serif;

  --font-pretendard:
    'Pretendard Variable', pretendard, -apple-system, BlinkMacSystemFont,
    'Apple SD Gothic Neo', sans-serif;

  /* 찜하기 흔들리는 애니메이션 */
  --animate-heart-pulse: heart-pulse 1s ease-in-out;
  @keyframes heart-pulse {
    0%,
    50%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1.1);
    }
  }
}

/* 기본 레이아웃 */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
    height: 100%;

    font-size: 12px;
    line-height: 1.25em;
    letter-spacing: -0.5px;

    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
